@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #000;
}

ul li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 15px 10px;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoText ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logoText ul li {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  color: #0f172a;
  border: 1px solid transparent;
  transition: all 0.3s;
  cursor: pointer;
}

.logoText li:hover {
  border-bottom: 1px solid #000;
}

.logoText ul li:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.logoIcon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logoIcon i {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: #000;
  cursor: pointer;
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s;
  color: #0f172a;
}
.logoIcon i:hover {
  background-color: #f1f5f9;
}
.logoIcon button i {
  background-color: inherit;
  padding: 0;
  font-size: 15px;
}

.logoIcon button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  padding: 8px 15px;
  margin-left: -10px;
  background-color: inherit;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.logoIcon button:hover {
  background-color: #f1f5f9;
}

.store h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  color: #020817;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 30px;
}

.store form {
  display: flex;
  align-self: center;
  gap: 20px;
}

.inputFlex {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #e2e8f0;
  padding: 10px 15px;
  border-radius: 8px;
  width: 1215px;
}

.inputFlex input {
  border: none;
  outline: none;
  color: #7a7a7a;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.inputFlex i {
  color: #7a7a7a;
  cursor: pointer;
}

.inputBorder {
  border: 2px solid #2563eb;
  padding: 3px;
  border-radius: 8px;
}

